.back-button {
	display: flex;
	align-items: center;
	padding: 10px 0;
	text-decoration: none;
	color: black;

	.text {
		display: none;
		opacity: 0;
	}

	.icon-arrow {
		transition: transform 0.4s;
	}

	&:hover {
		.text {
			opacity: 1;
			display: inline;
		}

		.icon-arrow {
			transform: translateX(-10px) rotate(90deg);
		}
	}
}