.slide-down {
	&-enter-active {
		animation: slideUpDown 1s ease;
	}

	&-leave-active {
		animation: slideUpDown 1s ease reverse;
	}
}

@keyframes slideUpDown {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}
